name: myid
description: MyID SDK plugin for Flutter. Package supports iOS and Android to verify users identity.
version: 3.1.41
homepage: https://pub.dev/packages/myid
repository: https://pub.dev/packages/myid

environment:
  sdk: ^3.5.3
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin:
    platforms:
      android:
        package: uz.uzinfocom.myid
        pluginClass: MyIdPlugin
      ios:
        pluginClass: MyIdPlugin
